body {
    background-color: #878787;
    font-family: Arial, Helvetica, sans-serif;
}

a:link {
    color: #ffba24;
}
  
a:visited {
    color: #ffcf66;
}
  
a:hover {
    color: #ffa047;
}
  
a:active {
    color: #ff7b00;
}

h1 {
    font-size: 2.5rem;
    color: rgb(20,20,20);
}
h2 {
    font-size: 2em;
    text-align: center;
    color: rgb(20,20,20);
}
h3 {
    font-size: 1.5em;
    text-align: center;
    color: rgb(20,20,20);
}
p {
    font-size: 1.3em;
    color: rgb(20,20,20);
}

figcaption {
    font-size: 1em;
    color: rgb(20,20,20);
}

video {
    width: 130%;
    height: auto;
}

aside {
    float: right;
    max-width: 25%;
    margin-left: 2%;
    padding: 0.5%;
    border-radius: 5px;
    font-size: 1em;
    color: rgb(20,20,20);
    background-color: darkgray;
}

form {
    background-color: lightgray;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
    font-size: 1.2rem;
    margin-left: 20%;
    margin-right: 20%;
}

textarea {
    width: 70%;
    height: 10vw;
}

header {
    margin-right: 20%;
}
footer {
    font-size: 1.25em;
    color: black;
}

.pushaway a {
    position: absolute; 
    left: -9999px;
}
.pushaway a:focus {
    position: static;
    background-color: aliceblue;
    color: black;
}

.footertextsurvey {
    color: #e6f41f;
}

.indexbuttonsdivup {
    margin-top: -20%;
    background-color: #2e2e2e;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
}
.indexbuttonsdivbot {
    margin-top: 10%;
    background-color: #2e2e2e;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
}
.link-button {
    font-size: 2em;
    text-decoration: none;
}

.topbardiv {
    background-color: darkgray;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 2%;
    padding-top: 2%;
    border-radius: 50px;
}

.topbarh1 {
    display: inline;
    color: #ffae00;
}

.topbartext {
    font-size: 1.4em;
    background-color: #2e2e2e;
    margin-right: 3%;
    margin-left: 3%;
    padding: 1%;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.topbarcurrent {
    font-size: 2em;
    margin-right: 3%;
    margin-left: 3%;
    padding: 1.5%;
    border-radius: 10px;
    background-color: #2e2e2e;
    text-decoration: none;
}

.welcome-image {
    margin-top: -3%;
    max-width: 80%;
    height: 50%;
    border-radius: 25px;
    padding-bottom: 2%;
}

.welcome-left {
    margin-top: -15%;
    text-align: center;
}
.welcome-mid {
    margin-top: 70%;
    text-align: center;
}
.welcome-right {
    margin-top: 3%;
    text-align: center;
}

.welcome-text {
    margin-left: 15%;
    margin-right: 15%;
}
.arkane-logo-div {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
}
.arkane-logo {
    width: 100%;
}
.gamesimg {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.gamesarticle {
    margin-left: 10%;
    margin-right: 10%;
}
.dishonoredimg {
    width: 100%;
}
.dishonoredarticle {
    margin-left: 3%;
}
.dishonoredtitle {
    margin-left: 18%;
}

.historyimage {
    max-width: 100%;
}
.articletext {
    font-size: 1.1em;
    padding-left: 5%;
    color: rgb(20,20,20);
}
.videoarticle {
    margin-left: 20%;
    font-size: 1em;
    color: rgb(20,20,20);
}
.videodesc {
    margin-right: -30%
}
.videodescback {
    background-color: #2e2e2e;
    padding: 1%;
    border-radius: 10px;
}
.leveltable {
    border: 0.2vh solid black;
}
.leveltabledesc {
    font-size: 1.3em;
}
.leveltablecell {
    border: 0.2vh solid black;
    font-size: 1.1em;
    color: rgb(20,20,20);
    text-align: center;
}
.levelimagecell {
    text-align: center;
}
.levelimage {
    width: 85%;
}
.surveytopdiv {
    text-align: center;
}
.surveyimg {
    border-radius: 70%;
}
.surveythanks {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 1%;
    margin-left: 4%;
    margin-right: 4%;
    color: #750066;
}

.formback {
    background-size: cover;
    background-position: center center;
}

.indextable {
    margin-top: -10%;
}

.inputother {
    width: 80%;
    height: 30%;
}